<section class="bg-gray-900  min-h-screen">
    <div class="bg-gray-600 px-4 py-3 flex items-center justify-between">
        <div class="flex">
            <a routerLink="/" class="flex hover:text-gray-400">
                <div class="px-3 py-2 bg-gray-500">Home</div>
                <div style="width: 0px;height: 0px;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid rgba(107,114,128,var(--tw-bg-opacity));"></div>
            </a>
        </div>

        <a routerLink="/match-full">Static match detail</a>
    </div>
    <h1 class="text-9xl ml-6 py-6">404</h1>
    <h3 class="text-lg ml-6">Opps! It looks like you are lost.</h3>
</section>
